

.login-container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-image: url("https://e0.pxfuel.com/wallpapers/734/556/desktop-wallpaper-world-language-background-elsetge.jpg");

}


.form {
 width: 400px;
 padding: 20px;
 background-color: #fff;
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form input[type="text"],
.form input[type="password"] {
 width: 100%;
 padding: 10px;
 margin-bottom: 10px;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

.form button[type="submit"] {
 width: 100%;
 padding: 10px;
 background-color: #4CAF50;
 color: white;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

.form button[type="submit"]:hover {
 background-color: #45a049;
}

/* Form title */
.form h2 {
 text-align: center;
 margin-bottom: 20px;
 color: #333;
}
