{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/stats.css' %}">

<container id="box">
  <div id="headers">
    <h1>{{ request.user|title }}'s Stats:</h1>
  <h2>Overall Score: {{ total_score }}% - not too bad!</h2>
  </div>
  
  <div id="stat-box">
        {% for from_lang, to_langs in scores.items %}
      <div class="stats-container">
        <h3 class="from-lang">Translating from {{ from_lang }}</h3>

        {% for to_lang, stats in to_langs.items %}
        <div class="to-lang">
          <h4>To {{ to_lang }}:</h4>
          <p class="score">Score: {{ stats.percentage }}%</p>
          <p class="score">Highest Level: {{stats.hardest}}</p>
          <ul>
            <li>
              Words you know:
              <ol>
                {% for known_word in stats.known_words %}
                <li>
                  <span class="word">{{ known_word.word }}</span> = {{ known_word.translation }}
                </li>
                {% endfor %}
              </ol>
            </li>
            <li>
              Words you don't know:
              <ol>
                {% for unknown_word in stats.unknown_words %}
                <li>
                  <span class="word">{{ unknown_word.word }}</span> = {{ unknown_word.translation }}
                </li>
                {% endfor %}
              </ol>
            </li>
          </ul>
        </div>
        {% endfor %}

      </div>
      {% endfor %}

    </container>

    {% endblock content %}

  </div>
  